.wrapper {
  font-family:sans-serif;
  // transform:translate(-50%,-50%);
  position: relative;

}



.content{
  position: absolute;
  top:45%;
  left:10%;
  color:#fff;
  text-transform: uppercase;
  font-size: 28px;
}

.overlay {
  position: absolute;
  top:0%;
  left:2%;
  bottom:0;
  right:0;
  height:100%;
  width: 96%;
  opacity: 0;
  transition: .5s ease;
  background:rgba(80, 118, 243, 0.9);
}

.wrapper:hover .overlay{
  opacity:.8;
}
