$primary-background: #282c34;
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,400i,700,800,800i,900i&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 900px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hero {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top:10vh;
  color: white;
}

.header-spacing {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.nav-wrapper {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 3vh;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: none !important;
}

p {
  font-size: 16px;
  font-weight: 200;
 
}

strong{
  font-size: 18px;
  font-weight: bold;
}

.mb-2 {
  margin: 0.5em;
}

.mb-1 {
  margin:.1em;
}

.p-0{
  padding:0!important;
}
.p-1{
  padding:.5em!important;
}
.p-2{
  padding:1em!important;
}
.p-5{
  padding:4em!important;
}

.spacer{
  margin-top:120px;
}
.badge{
  float:left!important;
}
h4 {
  font-size: 32px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  font-family: Nunito Sans, sans-serif;
}


li{
 font-weight: 200;
}